# Grafana Datasource for Production
# Loki accessory is reachable via Kamal's Docker network

apiVersion: 1

datasources:
  - name: Loki
    type: loki
    uid: loki
    access: proxy
    # Kamal names accessories as: {service}-{accessory}
    # next-go-pg-loki is the Loki container name
    url: http://next-go-pg-loki:3100
    isDefault: true
    editable: false
    jsonData:
      maxLines: 1000
      timeout: 60
